In [2]:
import pandas as pd

In [3]:
#My first dataset will be the match scores containing xG figures for the last 5 seasons
df1= pd.read_csv('Premier League Scores.csv')

In [4]:
df1.head()

,Unnamed: 0,day,date,time,home,xg_home,score,xg_away,away,attendance,venue,referee
0,0,Fri,13/08/2021,20:00,Brentford,1.3,2–0,1.4,Arsenal,16479.0,Brentford Community Stadium,Michael Oliver
1,1,Sat,14/08/2021,12:30,Manchester Utd,1.5,5–1,0.6,Leeds United,72732.0,Old Trafford,Paul Tierney
2,2,Sat,14/08/2021,15:00,Watford,1.2,3–2,1.1,Aston Villa,20051.0,Vicarage Road Stadium,Mike Dean
3,3,Sat,14/08/2021,15:00,Chelsea,0.9,3–0,0.3,Crystal Palace,38965.0,Stamford Bridge,Jonathan Moss
4,4,Sat,14/08/2021,15:00,Everton,2.4,3–1,0.7,Southampton,38487.0,Goodison Park,Andy Madley

In [5]:
print(df1.shape)

(1900, 12)

In [6]:
#I want to rename column names, to match the next dataframes column names
df1_cleaned= df1.rename(columns={'home' : 'HomeTeam', 'away' : 'AwayTeam', 'date' : 'Date', 'time' : 'Time'})
df1_cleaned.head()

,Unnamed: 0,day,Date,Time,HomeTeam,xg_home,score,xg_away,AwayTeam,attendance,venue,referee
0,0,Fri,13/08/2021,20:00,Brentford,1.3,2–0,1.4,Arsenal,16479.0,Brentford Community Stadium,Michael Oliver
1,1,Sat,14/08/2021,12:30,Manchester Utd,1.5,5–1,0.6,Leeds United,72732.0,Old Trafford,Paul Tierney
2,2,Sat,14/08/2021,15:00,Watford,1.2,3–2,1.1,Aston Villa,20051.0,Vicarage Road Stadium,Mike Dean
3,3,Sat,14/08/2021,15:00,Chelsea,0.9,3–0,0.3,Crystal Palace,38965.0,Stamford Bridge,Jonathan Moss
4,4,Sat,14/08/2021,15:00,Everton,2.4,3–1,0.7,Southampton,38487.0,Goodison Park,Andy Madley

In [7]:
df1_cleaned1= df1_cleaned.drop(columns=['attendance', 'venue', 'referee', 'score', 'day', 'Unnamed: 0', 'Time'])
df1_cleaned1

            Date        HomeTeam  xg_home  xg_away        AwayTeam
0     13/08/2021       Brentford      1.3      1.4         Arsenal
1     14/08/2021  Manchester Utd      1.5      0.6    Leeds United
2     14/08/2021         Watford      1.2      1.1     Aston Villa
3     14/08/2021         Chelsea      0.9      0.3  Crystal Palace
4     14/08/2021         Everton      2.4      0.7     Southampton
...          ...             ...      ...      ...             ...
1895  13/05/2018        West Ham      0.9      1.7         Everton
1896  13/05/2018    Huddersfield      1.5      2.1         Arsenal
1897  13/05/2018       Tottenham      2.2      1.7  Leicester City
1898  13/05/2018  Crystal Palace      2.4      0.3       West Brom
1899  13/05/2018       Liverpool      3.4      0.1        Brighton

[1900 rows x 5 columns]

In [8]:
#Making sure 1900 rows remain, with just 5 columns
df1_cleaned1.shape

(1900, 5)

In [9]:
#now I'm uploading the 5 seasons worth of data, where I want results of games, goals, team shots and some other stats
#I'll then merge the 5 datasets together
df2= pd.read_csv('21.22 season stats.csv')

In [10]:
df2.head(5)

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/2021,20:00,Brentford,Arsenal,2,0,H,1,0,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
1,E0,14/08/2021,12:30,Man United,Leeds,5,1,H,1,0,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
2,E0,14/08/2021,15:00,Burnley,Brighton,1,2,A,1,0,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
3,E0,14/08/2021,15:00,Chelsea,Crystal Palace,3,0,H,2,0,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
4,E0,14/08/2021,15:00,Everton,Southampton,3,1,H,0,1,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86

In [11]:
df3= pd.read_csv('20.21 season stats.csv')

In [12]:
df3.head(5)

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,12/09/2020,12:30,Fulham,Arsenal,0,3,A,0,1,...,1.84,0.75,2.01,1.89,2.02,1.91,2.13,1.92,2.02,1.87
1,E0,12/09/2020,15:00,Crystal Palace,Southampton,1,0,H,1,0,...,1.70,0.25,1.78,2.13,1.79,2.17,1.85,2.18,1.79,2.12
2,E0,12/09/2020,17:30,Liverpool,Leeds,4,3,H,3,2,...,2.62,-1.50,1.85,2.05,1.85,2.08,1.90,2.16,1.84,2.04
3,E0,12/09/2020,20:00,West Ham,Newcastle,0,2,A,0,0,...,1.92,-0.50,2.03,1.87,2.04,1.88,2.09,1.91,2.02,1.86
4,E0,13/09/2020,14:00,West Brom,Leicester,0,3,A,0,0,...,1.73,0.25,1.92,1.98,1.93,1.99,1.95,2.01,1.91,1.97

In [13]:
#This df was short, so found an updated one with all games here 
#https://www.kaggle.com/datasets/thedevastator/uncovering-betting-patterns-in-the-premier-leagu?select=2019.csv
df4= pd.read_csv('19.20 season stats.csv')
print(df4.shape)

(380, 106)

In [14]:
df5= pd.read_csv('18.19 season stats.csv')
print(df5.shape)

(380, 62)

In [15]:
df6= pd.read_csv('17.18 season stats.csv')
df6.shape

(380, 65)

In [16]:
concat_data=pd.concat([df2, df3, df4, df5, df6])

In [17]:
#Should be 1900 rows after concatenating dataframes
concat_data.shape

(1900, 127)

In [18]:
#Now I want to remove columns at the end of the concatenated dataframe
df_all = concat_data.iloc[:, 1:24]
df_all.head()

,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,13/08/2021,20:00,Brentford,Arsenal,2,0,H,1,0,H,...,3,4,12,8,2,5,0,0,0,0
1,14/08/2021,12:30,Man United,Leeds,5,1,H,1,0,H,...,8,3,11,9,5,4,1,2,0,0
2,14/08/2021,15:00,Burnley,Brighton,1,2,A,1,0,H,...,3,8,10,7,7,6,2,1,0,0
3,14/08/2021,15:00,Chelsea,Crystal Palace,3,0,H,2,0,H,...,6,1,15,11,5,2,0,0,0,0
4,14/08/2021,15:00,Everton,Southampton,3,1,H,0,1,A,...,6,3,13,15,6,8,2,0,0,0

In [19]:
#Now I want to drop any further columns I won't be needing
df_all1= df_all.drop(columns=['FTR', 'Referee', 'HTR', 'HF', 'AF', 'Time'])
df_all1.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,HS,AS,HST,AST,HC,AC,HY,AY,HR,AR
0,13/08/2021,Brentford,Arsenal,2,0,1,0,8,22,3,4,2,5,0,0,0,0
1,14/08/2021,Man United,Leeds,5,1,1,0,16,10,8,3,5,4,1,2,0,0
2,14/08/2021,Burnley,Brighton,1,2,1,0,14,14,3,8,7,6,2,1,0,0
3,14/08/2021,Chelsea,Crystal Palace,3,0,2,0,13,4,6,1,5,2,0,0,0,0
4,14/08/2021,Everton,Southampton,3,1,0,1,14,6,6,3,6,8,2,0,0,0

In [20]:
#Checking team names, as they need to be exact matches in both dataframes to merge correctly
df1_cleaned1.groupby('HomeTeam')['Date'].count()

HomeTeam
Arsenal            95
Aston Villa        57
Bournemouth        57
Brentford          19
Brighton           95
Burnley            95
Cardiff City       19
Chelsea            95
Crystal Palace     95
Everton            95
Fulham             38
Huddersfield       38
Leeds United       38
Leicester City     95
Liverpool          95
Manchester City    95
Manchester Utd     95
Newcastle Utd      95
Norwich City       38
Sheffield Utd      38
Southampton        95
Stoke City         19
Swansea City       19
Tottenham          95
Watford            76
West Brom          38
West Ham           95
Wolves             76
Name: Date, dtype: int64

In [21]:
#I need to match up the team names with df1
df_all1.groupby('HomeTeam')['Date'].count()

HomeTeam
Arsenal             95
Aston Villa         57
Bournemouth         57
Brentford           19
Brighton            95
Burnley             95
Cardiff             19
Chelsea             95
Crystal Palace      95
Everton             95
Fulham              38
Huddersfield        38
Leeds               38
Leicester           95
Liverpool           95
Man City            95
Man United          95
Newcastle           95
Norwich             38
Sheffield United    38
Southampton         95
Stoke               19
Swansea             19
Tottenham           95
Watford             76
West Brom           38
West Ham            95
Wolves              76
Name: Date, dtype: int64

In [22]:
#Before merging dataframes, I need to make sure all names match up- I can do this using Regex replace() method
#and check names by using unique()
df_newnames1= df_all1.replace(["Man United", "Cardiff", "Leeds", "Leicester", "Man City", 
                               "Newcastle", "Norwich", "Sheffield United", "Stoke", "Swansea"], 
                              ["Manchester Utd", "Cardiff City", "Leeds United", "Leicester City", "Manchester City", 
                               "Newcastle Utd", "Norwich City", "Sheffield Utd", "Stoke City", "Swansea City"])
df_newnames1.HomeTeam.unique()

array(['Brentford', 'Manchester Utd', 'Burnley', 'Chelsea', 'Everton',
       'Leicester City', 'Watford', 'Norwich City', 'Newcastle Utd',
       'Tottenham', 'Liverpool', 'Aston Villa', 'Crystal Palace',
       'Leeds United', 'Manchester City', 'Brighton', 'Southampton',
       'Wolves', 'Arsenal', 'West Ham', 'Fulham', 'West Brom',
       'Sheffield Utd', 'Bournemouth', 'Huddersfield', 'Cardiff City',
       'Stoke City', 'Swansea City'], dtype=object)

In [24]:
#Merging dataframes on matching columns- Date, Home Team and Away Team
#This will merge xG stats into the correct game
df= pd.merge(df_newnames1, df1_cleaned1, on=['HomeTeam', 'AwayTeam', 'Date'])

In [25]:
df.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,HS,AS,HST,AST,HC,AC,HY,AY,HR,AR,xg_home,xg_away
0,13/08/2021,Brentford,Arsenal,2,0,1,0,8,22,3,4,2,5,0,0,0,0,1.3,1.4
1,14/08/2021,Manchester Utd,Leeds United,5,1,1,0,16,10,8,3,5,4,1,2,0,0,1.5,0.6
2,14/08/2021,Burnley,Brighton,1,2,1,0,14,14,3,8,7,6,2,1,0,0,1.0,1.3
3,14/08/2021,Chelsea,Crystal Palace,3,0,2,0,13,4,6,1,5,2,0,0,0,0,0.9,0.3
4,14/08/2021,Everton,Southampton,3,1,0,1,14,6,6,3,6,8,2,0,0,0,2.4,0.7

In [26]:
df.shape

(1900, 19)

In [41]:
duplicates = df_all.duplicated(subset = 'HomeTeam',  keep = False)
duplicates

0      True
1      True
2      True
3      True
4      True
       ...
375    True
376    True
377    True
378    True
379    True
Length: 1900, dtype: bool